<!-- 登录 -->
<div class="login page">
  <!-- banner -->
  <img class="login-bg" src="https://cn.bing.com/th?id=OHR.BlackSun_ZH-CN0889682619_1920x1080.jpg&rf=LaDigue_1920x1080.jpg"/>
  <div class="login-box">
    <div class="item row">
      <span class="label">用户名</span>
      <input class="input" placeholder="请输入用户名"/>
    </div>
    <div class="item row">
      <span class="label">密码</span>
      <input class="input" placeholder="请输入用户名"/>
    </div>
    <div class="login-btn button" onclick="onLogin">登 录</div>
    <div class="row alert-box">
      <span class="alert-text button">忘记密码?</span>
      <span class="alert-text button">注册账号</span>
    </div>
  </div>
</div>